<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGetADrink" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57995/GetaDrink.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGetADrink" contract="IGetADrink"
                name="BasicHttpBinding_IGetADrink" />
        </client>
    </system.serviceModel>
</configuration>